%section.site_title
  %h1
    Ling Language Flashcards
  %p.sign_in
    = link_to "Sign Up Now for Free!", new_user_registration_path
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", home_path
